<header>
  <nav class="navigation-bar navbar fixed-top navbar-expand-lg navbar-dark">
    <a class="navbar-brand" routerLink="/">Hungry Time</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <!-- main links -->
      <div class="navbar-nav">
        <a class="nav-link" href="#trending">Trending</a>
        <a class="nav-link" routerLink="/help">Help</a>
        <!-- <a class="nav-link" routerLink="/favourite">My Favourites</a> -->
        <!-- <a class="nav-link" routerLink="/meal">My Meals</a> -->
<!--         <a class="nav-link" routerLink="/account/passwordChange">Profile</a> -->
        <a class="nav-link" routerLink="/about">About Us</a>
        <div class="dropdown mx-1" style="margin-top:1px ;" *ngIf="isAuthenticated">
          <button class="btn btn-success btn-sm dropdown-toggle mt-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding: 0;">
            Notifications
          </button>
          <div class="dropdown-menu mt-2" aria-labelledby="dropdownMenuButton" style="background-color: lightgreen;">
            <p id="demo"></p>
          </div>
        </div>
      </div>
      <!-- signin/signup buttons -->

      <div *ngIf="!isAuthenticated" class="ml-md-auto d-flex">
        <div class="nav-item">
          <button class="btn text-white" routerLink="/signin">Sign in</button>
        </div>
        <div class="nav-item">
          <button class="btn btn-success" routerLink="/signup">Sign up</button>
        </div>
      </div>
      <!-- user menu-->
      <div *ngIf="isAuthenticated" class="ml-md-auto d-flex">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">
              <app-loading-spinner [small]="true" *ngIf="!userName"></app-loading-spinner>
              <span *ngIf="!!userName">{{userName}}</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a class="dropdown-item" routerLink="/meal"> Meal</a></li>
              <div class="dropdown-divider m-1"></div>
              <li><a class="dropdown-item" routerLink="/favourite"> Favourites </a></li>
              <div class="dropdown-divider m-1"></div>
              <li><a class="dropdown-item" routerLink="account/usernameChange"> Settings </a></li>
              <div class="dropdown-divider m-1"></div>
              <li><a class="dropdown-item" routerLink="/notes"> Notes </a></li>
              <div class="dropdown-divider m-1"></div>
              <li><a class="dropdown-item text-danger" style="cursor: pointer;" (click)="onLogout()"> Signout </a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

