<div class="container-fluid p-3 p-md-5 bg-light text-muted">
  <div class="row">
    <div class="col col-md-8">
      <h5>About Our App name which is not yet decided</h5>
      <p>Since 2010, Our app has been the game changing diet tracker for iOS, Android, and the web. Our mission is to
        make the low carb lifestyle easy, fun, and delicious, and empower our millions of members to achieve their
        wellness goals.</p>

    </div>
    <div class="col col-md-4 ">
        <h5>Created by:</h5>
        <ul>
            <li>Himanshu Khandelwal</li>
            <li>Saptarshi Mitra</li>
            <li>Sumon Nath</li>
        </ul>
    </div>
  </div>
</div>
