#bg-img{
    background-image: url(../../assets/images/pizza.jpg);
    min-height: 80vh;
    width: auto;
    background-size: cover;
}
.text-center{
    color: white;
    padding-top: 250px;
    
}
#topper img, #middle img{
    background-color: palevioletred;
}


@media only screen and (max-width: 767px){
    #bg-img{
        width: auto;
        height: auto;
        background-size: cover;
    }
    #topper img, #middle img{
        background-size: cover;
        max-width: 45vh;
    }
}
