<div class="container-fluid my-5" id="bg-img">

    <!-- Information -->

    <div class="text pl-3">
        <div class="h4">Our Mission</div>
        <div class="h3 display-4">Shaping the Future of Food</div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="header col-sm-12" >
            <div class="h4 display-4">Our goal is to change what you eat</div>
            <p class="pl-2">Changing how you eat is just a means to an end.</p>
        </div>
        <div class="col-sm-12">
            <div class="d-flex my-5" id="topper">
                <div class="img-1">
                    <img src="assets/images/chef.jpg" style="background-size: cover;">
                </div>
                <div class="top-content pt-3" style="background-image: linear-gradient(to bottom right,white,yellow);">
                    <h2 class="mx-4">Focussing on <span style="color: red;font-weight: 500;">Ease</span></h2>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="d-flex my-5" id="middle">
                <div class="middle-content pt-3" style="background-image: linear-gradient(to bottom right, silver,green);">
                    <div class="mx-4">
                        <h2>Focussing on <span style="color: red;">quality</span></h2>
                    </div> 
                </div>
                <div class="img-2">
                    <img src="assets/images/cookbook-general.jpg">
                </div>
            </div> 
        </div>
    </div>

    <div class="cards d-flex m-4">
        <div class="row-cards">
            <div class="row mx-2" style="font-weight: 550;">
                <div class="col-md-6">
                    <div class="card" style="background-image: linear-gradient(to top,silver,rgba(255, 0, 0, 0.685));">
                        <div class="card-body">
                          <div class="h5 card-title">Resilience</div>
                          <p class="card-text">We push ourselves beyond our abilities when faced with tough times. When we foresee uncertainty, we address it only with flexibility.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card" style="background-image: linear-gradient(to top,silver,rgba(0, 0, 255, 0.692));">
                        <div class="card-body">
                          <div class="h5 card-title">Acceptance</div>
                          <p class="card-text">Feedback is never taken personally, we break it into positive pieces and strive to work on each and every element even more effectively</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-3 mx-2" style="font-weight: 550;">
                <div class="col-md-6">
                    <div class="card" style="background-image: linear-gradient(to top,silver,rgba(255, 217, 0, 0.699));">
                        <div class="card-body">
                        <div class="h5 card-title">Ownership</div>
                        <p class="card-text">We take full ownership and responsibility of our actions</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card" style="background-image: linear-gradient(to top,silver,rgba(0, 128, 0, 0.678));">
                        <div class="card-body">
                        <div class="h5 card-title">Spark</div>
                        <p class="card-text">We believe in, stand for and are evangelists of our culture</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- TEAM MEMBERS -->

    <div class="author my-5">
        <div class="h4 display-4">People you get to collab with!</div>
        <div class="row row-cols-3 my-5">
            <div class="col-md-3" *ngFor="let i of id">
                <div class="card">
                    <img src="{{i.img}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{i.name}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
