<div class="container-fluid subscribe">
    <div class="container text-center">
        <h1 class="pt-5 pb-4">Subscribe for our newsletter</h1>
        <p class="pb-5 font-bold">Sign up with your email address to get weekly newsletter</p>
        <div class="d-flex pb-5 text-center">
            <input type="text" class="form-control mr-2" id="firstName" placeholder="First name">
            <input type="text" class="form-control mr-2" id="lastName" placeholder="Last Name">
            <input type="email" class="form-control mr-2" id="email" placeholder="Email address">
            <div class="mr-2 flex-grow">
              <button class="btn btn-primary">Yes,&nbsp;I&nbsp;want&nbsp;it</button>
            </div>
        </div>
    </div>
</div>