<div class="container-fluid subscribe pb-4">
  <div class="container text-center">
    <h1 class="pt-5 pb-3">Subscribe for our newsletter</h1>
    <p class="pb-5 font-bold">Sign up with your email address to get weekly newsletter</p>
    <form class="d-flex pb-4 text-center" #form="ngForm" (ngSubmit)="onSubmit(form)">
      <input type="text" class="form-control mr-2" id="firstName" name="firstName" ngModel required placeholder="First name">
      <input type="text" class="form-control mr-2" id="lastName" name="lastName" ngModel required placeholder="Last Name">
      <input type="email" class="form-control mr-2" id="email" name="email" ngModel required placeholder="Email address">

    
      <div class="mr-2 flex-grow mb-5">
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Yes,&nbsp;I&nbsp;want&nbsp;it</button>
      </div>
    </form>
  </div>
</div>