<main>
	<div class="container-fluid p-0">
		<div class="carousel slide" id="main-carousel" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#main-carousel" data-slide-to="0" class="active"></li>
				<li data-target="#main-carousel" data-slide-to="1"></li>
				<li data-target="#main-carousel" data-slide-to="2"></li>
			</ol><!-- /.carousel-indicators -->
			
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img class="d-block w-100" src="assets/images/carousel-1.jpg" alt="">
					<div class="mb-3 carousel-caption d-none d-md-block">
						<h3>Here's a fact</h3>
						<p>{{trivia1}}</p>
					</div>
				</div>
				<div class="carousel-item">
					<img class="d-block w-100" src="assets/images/carousel-2.png" alt="">
					<div class="mb-3 carousel-caption d-none d-md-block">
						<h3>XD</h3>
						<p>{{joke1}}</p>
					</div>
				</div>
				<div class="carousel-item">
					<img src="assets/images/carousel-3.jpg" alt="" class="d-block w-100">
					<div class="mb-3 carousel-caption d-none d-md-block">
						<h3>Did you know</h3>
						<p>{{trivia2}}</p>
					</div>
				</div>
			</div><!-- /.carousel-inner -->
			
			<a href="#main-carousel" class="carousel-control-prev" data-slide="prev">
				<span class="carousel-control-prev-icon"></span>
				<span class="sr-only" aria-hidden="true">Prev</span>
			</a>
			<a href="#main-carousel" class="carousel-control-next" data-slide="next">
				<span class="carousel-control-next-icon"></span>
				<span class="sr-only" aria-hidden="true">Next</span>
			</a>
		</div><!-- /.carousel -->
	</div><!-- /.container -->