.meals{
    display: flex;
    flex-wrap: wrap;
}

.individualMeals{
    margin-top: 20px;
    margin-bottom: 10px;
    width: 48%;
    box-sizing: border-box;
}

.card{
    margin: 5px;
}

.card-title{
    cursor: pointer;
}

.title-link{
    color: #111;
    text-decoration: none;
}

@media only screen and (max-width: 767px){
    .meals{
        display: block;
    }
    .individualMeals{
        margin-top: 20px;
        width: 100%;
        box-sizing: border-box;
    }
}