<div class="container mt-4">
  <div *ngIf="doughnutChartData.length>0; else nothing">
  <h3 class="mt-2">Here is your total nutrients intake</h3>
  <div class="row">
    <div class="col-6">
      <div>
        <canvas baseChart
          height="300px"
          [datasets]="doughnutChartData"
          [labels]="doughnutChartLabels"
          [chartType]="doughnutChartType"
          [colors]="colours"
          >
        </canvas>
      </div>
    </div>
    <div class="col-6">
      <div>
        <canvas baseChart
        height="300px"
          [datasets]="doughnutChartData"
          [labels]="doughnutChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
      </div>
    </div>
  </div>


  <h3 class="mt-5">The following items are there in your meals list</h3>

  <div class="meals">
    <div class="card individualMeals" *ngFor="let recipe of recipes">
      <div class="card-body">
        <h3 class="card-title"><a [routerLink]="['/details', recipe.id]" class="title-link">{{ recipe.title }}</a></h3>
        <app-individual-graphs [recipe]="recipe"></app-individual-graphs>
      </div>
    </div>
  </div>
  </div>
  <ng-template #nothing>First add some meals to view this tab</ng-template>


  
  <!-- <div style="display: block">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType">
    </canvas>
  </div> -->
</div>
