<div class="wrapper" id="trending">
  <div class="container pt-5 pb-5">
    <div class="row">
      <h1>Check these out !</h1>
    </div>
    <app-loading-spinner *ngIf="!isLoaded"></app-loading-spinner>
    <div class="row mt-4" *ngIf="isLoaded">
      <div *ngFor="let recipe of trending" class="col-xs-12 col-sm-6 col-md-3 mb-5"
        [routerLink]="['/details', recipe.id]">
        <div class="image-flip">
          <div class="mainflip flip-0">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center m-0 p-0">
                  <p><img class=" img-fluid" src="{{!!recipe.image?recipe.image:tempImage}}" alt="card image">
                  </p>
                  <p class="h5 card-title pt-1 pb-1">{{recipe.title | shorten}}</p>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card" style="overflow: overlay;">
                <div class="card-body mt-2 mb-2">
                  <p class="card-text" [outerHTML]="recipe.summary"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
