.container{
    margin-top: 80px;
}

.list-group{
    cursor: pointer;
}

.mobile-view{
    display: none;
}

@media only screen and (max-width:767px){
    .mobile-view{
        display: block;
    }

    .desktop-view{
        display: none;
    }
}