.box {
    float: left;
    height: 20px;
    width: 20px;
    margin-bottom: 15px;
    border: 1px solid black;
    clear: both;
  }
  
  .salmon {
    background-color: #e76182;
  }
  
  .blue {
    background-color: #269fca;
  }